.button-group {
	text-align: center;
}

body {
	text-align: center;
}

.button-group > button {
	margin: 5px;
}

.wrong-guess {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(255, 0, 0);
	display: none;
	z-index: -100;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

img.logo {
	height: 120px;
}
