body {
	background-image: url('../grey/grey_@2X.png');
	background-repeat: repeat;
}

img {
	margin-top: 10px;
}

span.u {
	text-decoration: underline;
}

div.description {
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 1.3em;
	padding: 10px 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}
